.table-div{
    border: 2px solid red;
    border-bottom-right-radius: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #E9EDF5;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr{
    border: 2px solid #dddddd;
}

th img{
    height: 1rem;
}
th img[alt="right-arrow"]{
    height: 3rem;
}
th:nth-child(7) {
    margin-right: -70px;
}
td:first-child {
    color: blue;
}
td:nth-child(2) {
    font-weight: bold;
}

/* status column */
.checkbox input[type="checkbox"] {
    width: 8px; 
    height: 8px; 
    margin-right: 5px; 
    background-color: #14804A;
}

.Active_color{
    background-color: #EFFFF2;
    border-radius: 10px;
    color: #14804A;
}
.Expired_color{
    background-color: #FCF2E6;
    color: #C16F10;
    border-radius: 10px;
}
.Terminated_color{
    border-radius: 10px;
    background-color: #FCF2F3;
    color: #DE350B;
}

.fa-angle-down{
    margin-left: 1rem;
    font-size: small;
}

.Align-item{
    text-align: right;
}

/* table footer */
.table-footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px 0px 15px;
}
.page-number{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-dropdown{
    padding: 5px;
    border-radius: 5px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#pagination{
    display: flex;
    gap: 1rem;
    list-style: none;
}
#pagination li a {
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s
      
}
#pagination li a.active {
background-color:#F7F9FC;
padding: 8px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}